*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  font-size: 18px;
}
.error-signup {
  margin-bottom: 20px;
  text-align: center;
}

.error-signup div {
  margin-bottom: 10px;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, bisque, aquamarine);
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: floralwhite;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.15);
  justify-content: space-between;
  align-items: center;
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
.final-details {
  margin-bottom: 20px;
}

.final-details label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.final-details select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
@media(max-width: 584px){
 	.container{
  		max-width: 100%;
	}
	form .user-details .input-box{
	    margin-bottom: 15px;
	    width: 100%;
  	}
	form .category{
	  width: 100%;
	}
	.content form .user-details{
	  max-height: 300px;
	  overflow-y: scroll;
	}
	.user-details::-webkit-scrollbar{
	  width: 5px;
	}
}
@media(max-width: 459px){
	.container .content .category{
	  flex-direction: column;
	}
}

.trangchu {
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
}
.trangchu button{
	cursor: pointer;
	font-size: 25px;
	padding: 5px 20px;
	font-weight: bolder;
	position: relative;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
/* 	border: 5px solid; */
	width: 180px;
}
.button-div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-div button{
	cursor: pointer;
	border: none;
	background-color: cadetblue;
	width: 40%;
	height: 40px;
	font-size: 30px;
}